<ion-header>
  <ion-toolbar color="tertiary">

    <!-- Hamburguer Menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastrar Livro</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content [formGroup]="form" > -->
<ion-content>

  <!-- <ion-item>
    <ion-label position="floating">Referência</ion-label>
    <ion-input type="text" required="required" formControlName="referencia"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Nome</ion-label>
    <ion-input type="text" formControlName="nome"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Sinopse</ion-label>
    <ion-input type="text" formControlName="sinopse"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Gênero</ion-label>
    <ion-select formControlName="genero">
      <ion-select-option value="Ficção Literária">Ficção Literária</ion-select-option>
      <ion-select-option value="Não Ficção">Não Ficção</ion-select-option>
      <ion-select-option value="Suspense">Suspense</ion-select-option>
      <ion-select-option value="Ficção Científica">Ficção Científica</ion-select-option>
      <ion-select-option value="Fantasia">Fantasia</ion-select-option>
      <ion-select-option value="Horror">Horror</ion-select-option>
      <ion-select-option value="Poesia">Poesia</ion-select-option>
      <ion-select-option value="Romance">Romance</ion-select-option>
      <ion-select-option value="Religioso">Religioso</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Autor</ion-label>
    <ion-input type="text" formControlName="autor"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Editora</ion-label>
    <ion-input type="text" formControlName="editora"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Publicação</ion-label>
    <ion-datetime displayFormat="DD/MM/YYYY" cancelText="Cancelar" doneText="Confirmar" formControlName="publicacao"></ion-datetime>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Preço</ion-label>
    <ion-input type="number" formControlName="preco"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Imagem (URL)</ion-label>
    <ion-input type="url" formControlName="imagem"></ion-input>
  </ion-item>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="salvar()" color="primary" [disabled]="!form.valid">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->

</ion-content>
